@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    z-index: -2;
    background: #000;
}
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Opera */
  }
  section {
    padding-top: 70px; /* Adjust this according to the height of your header */
  }
  